<app-search></app-search>
<br/>
<app-button title="default" color="default"></app-button>
<app-button title="danger" color="danger"></app-button>
<app-button title="success" color="success"></app-button>
<br/><br/>
<app-tag text="default" color="default"></app-tag>
<app-tag text="success" color="success"></app-tag>
<app-tag text="danger" color="danger"></app-tag>
<app-tag text="disabled" color="disabled"></app-tag>
<app-tag text="cancelled" color="cancelled"></app-tag>
<br/><br/>
<app-modal icon="report_problem" title="Alerta" subtitle="Sua senha expirou!"></app-modal>
<app-modal icon="check_circle_outline" title="Login" subtitle="Acesso liberado"></app-modal>

<router-outlet>
</router-outlet>