<div class="frame">
    <div class="modal" [ngClass]="{'modal--close':!isOpen}">
        <div class="modal__head">
            <div class="modal__left">
                <span class="material-icons">{{icon}}</span>
                <h1 class="modal__title">{{title}}</h1>
            </div>
            <div class="modal__right" (click)="closeModal()">
                <span class="material-icons">highlight_off</span>
            </div>
        </div>
        <div class="modal__body">
            <p>{{subtitle}}</p>
        </div>
    </div>
</div>